/* FONTS ------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@200;300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* SITE WIDE FEATURES ------------------------------- */

.author-year
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    scroll-behavior: smooth;
  }

  /* Facilitates sticky footer */
  main {
    flex: 1 0 auto;
    background-image: url('/static/images/background-pattern1.png');
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
    background-color: #fff;
  }

  h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    text-align: center;
    color: #bb98eb;
    margin-top: 0;
    padding-top: 40px;
}

p {
    font-family: "Lato", sans-serif;
}

.btn {
    background-color: #bb98eb;
    cursor: pointer;
}

.btn:hover {
    background-color: #cdb3f1;
}

.btn:focus {
    background-color: #cdb3f1;
}

.btn-large:hover {
    background-color: #cdb3f1;
}

.book-title {
    color: #bb98eb;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    text-align: center;
}

.container {
    margin-bottom: 0;
    padding-bottom: 40px;
}

.brand-logo img {
    padding-left: 10px;
}

.category-display {
    color: #bb98eb;
    font-weight: 700;
}

/* ---------------------------------------------------------------------------NAVIGATION  */

nav {
    background-color: #bb98eb;
}

nav li a {
    font-family: "Lato", sans-serif;
    font-size: 20px;
}

/* ---------------------------------------------------------------------------HOMEPAGE  */

/* ------------------------------------- BACK TO TOP BUTTON */

/* Original code credit: https://codepen.io/deveb22/pen/QxPmGz */

#back-to-top-button {
    display: inline-block;
    background-color: rgb(245, 219, 74);
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 25px;
    position: fixed;
    top: 50px;
    right: 50px;
    -webkit-transition: background-color .3s, opacity .5s, visibility .5s;
    -o-transition: background-color .3s, opacity .5s, visibility .5s;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    box-shadow: #7e7e7e 1px 1px 3px 1px;
}

.fa-angle-up {
    color: #fff;
    font-size: 50px;
}

#back-to-top-button:hover {
    cursor: pointer;
    background-color: #bb98eb;
}

.fa-angle-up:hover {
    color: #fff;
}

#back-to-top-button.show {
    opacity: 1;
    visibility: visible;
}


#homepage-title h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #bb98eb;
    text-align: center;
    line-height: 50px;
    padding-bottom: 20px;
}

#small-title {
    font-size: 40px;
    font-weight: 700;
}

#large-title {
    font-size: 70px;
    font-weight: 700;
}

#homepage-content {
    min-height: 200px;
}

#welcome-message {
    font-family: "Poppins", sans-serif;
    color: #fff;
    font-size: 30px;
    transform: translate(0, 85px);
    margin: 0;
}

.search-bar {
    border: 2px solid #bb98eb;
    padding: 0 5px 0 5px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.search-bar-prompt {
    padding-left: 5px;
    font-family: "Lato", sans-serif;
    font-weight: bold;
}

.search {
    border-bottom: 0;
    margin: 0;
    font-family: "Lato", sans-serif;
}

.sign-up-circle {
    width: 160px;
    height: 160px;
    border-radius: 80px;
    font-size: 20px;
    text-align: center;
    text-align: center;
    /* Transitions alway the user a smoother interaction with the button for good UX */
    -webkit-transition: .2s ease-out;
    -o-transition: .2s ease-out;
    transition: .2s ease-out;
    padding-top: 45px;
}


.login-circle {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    font-size: 20px;
    /* Transitions alway the user a smoother interaction with the button for good UX */
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out;
    padding-top: 30px;
}

#featured-section {
    margin-bottom: 50px;
    background-color: #cab3eb;
    box-shadow: rgb(189, 189, 189) 2px 5px 5px;
    border: transparent;
    border-radius: 50px;
    margin-top: 40px;
    padding-left: 15px;
    padding-right: 15px;
}

#top-picks-title {
    font-size: 50px;
    margin-bottom: 0;
    font-weight: 600;
    color: #fff;
}

.featured-book {
    width: 100%;
    padding-bottom: 20px;
}

#more-books-button {
    margin-top: 20px;
}

/* All Books ------------------------------- */

#search-results-message {
    text-align: center;
    font-size: 20px;
    padding-bottom: 20px;
}

.book-image {
    max-width: 180px;
    max-height: 270px;
} 

#book-page-search-bar {
    margin-bottom: 30px;
}

.add-book-button {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

/* Centers plus icon in green Add Book button */
.add-book-button i {
    transform: translate(0, 30px);
}

/* Ellipsis 'Read More' style card button. Margin-bottom for visibility */
#expand-book-btn {
    background-color: #fff;
    margin-bottom: 30px;
}

#expand-book-btn i {
    color: #bb98eb;
}

.card {
    background-color: #cab3eb;
    padding-bottom: 20px;
    padding-top: 25px;
    box-shadow: grey 2px 5px 5px;
}

#book-title-all-books {
    color: #fff;
}

#book-author-all-books {
    color: #fff;
}

#book-category-all-books {
    color: #fff;
}

/* Centers the book images within card */
.card-image {
    padding-left: 25%;
    padding-right: 25%;
}

/* 'Lifts' card image for the appearence of depth */
.card-image img {
 box-shadow: #282828 2px 2px 8px 1px;
}

#book-title-all-books {
    font-size: 20px;
}

.author-year {
    font-family: "Lato";
    color: #bb98eb;
    font-size: 18px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.category {
    font-family: "Poppins", sans-serif;
    color: #bb98eb;
    font-size: 18px;
    font-weight: 600;
    margin-top: 0;
}

.hide-button {
    display: none;
}

/* Display Book ------------------------------- */

#back-to-books-button {
    margin-top: 15px;
}

.buy-button {
    background-color: #bb98eb;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: white;
    padding: 5px;
    border: 1px solid #bb98eb;
    border-radius: 6px;
}

#book-container {
    margin-bottom: 100px;
    margin-top: 30px;
}

#description {
  font-size: 18px;
}

#book-image {
    margin-top: 30px;
    box-shadow: #282828 1px 1px 6px 2px;
    width: 300px;
    height: 450px;
}

#added-by-display {
    font-weight: bold;
    margin-top: 0;
    font-size: 12px;
}

/* My Profile ------------------------------- */

.collapsible {
    border-radius: 10px;
}

.collapsible-header {
    font-family: "Poppins", sans-serif;
    background-color: #bb98eb;
    color: white;
    font-size: 25px;
    position: relative;
    border-radius: 10px;
}

.collapsible-body {
    font-family: "Lato", sans-serif;
    color: #282828;
    margin-bottom: 0;
}

.book-actions {
    margin-top: 15px;
}

.book-actions a {
    width: 80px;
    height: 50px;
    border-radius: 10px;
}

.book-actions i {
    margin-right: 0;
    font-size: 30px;
    padding-top: 6px;
}

#create-reading-list-button {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

/* Centers plus icon in green Find Books button */
#create-reading-list-button i {
    transform: translate(0, 20px);
}

#edit-button {
    background-color: rgb(146, 215, 238);
    margin-top: 5px;
}

#delete-button {
    background-color: #e06969;
    margin-top: 5px;
}

#remove-button {
    background-color: rgb(240, 221, 115);
    margin-top: 5px;
}

.book-image-profile-page {
    box-shadow: #282828 1px 1px 6px 2px;
}

/* Sign Up ------------------------------- */

.login-signup-switch {
    margin-top: 40px;
}

.login-signup-switch:hover {
     background-color: #cdb3f1;
}

/* Login ------------------------------- */

.btn-large {
    background-color: #bb98eb;
    color: white;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    border-radius: 10px;
}

/* Logout ------------------------------- */

#logout-page {
    min-height: 70vh;
}

#logout-page-message {
    font-size: 30px;
    font-weight: 400;
    padding-top: 30px;
    color: #fff;
}

#logout-page-confirm {
    background-color: #cab3eb;
    box-shadow: rgb(189, 189, 189) 5px 5px 5px;
    padding-bottom: 40px;
}

#back-to-profile-button {
    padding-top: 60px;
}

/* FOOTER ------------------------------- */

.page-footer {
    background-color: #bb98eb;
}

.footer-contents i {
    font-size: 30px;
}

/* MEDIA QUERIES ------------------------ */

@media only screen and (max-width: 460px) {
    /* Title sizes decrease to fit the space suitably on very small screens */
    #small-title {
        font-size: 30px;
        line-height: 20px;
    }
    #large-title {
        font-size: 50px;
    }
}

@media only screen and (max-width: 600px) {
    .featured-book {
        width: 200px;
        height: 300px;
    }
    .brand-logo img {
        width: 70px;
        height: 55px;
    }
}

@media only screen and (max-width: 992px) {
    /* Featured section is only big enough to display 4 books on large screens */
    #featured-book-4 {
        display: none;
    }
    /*.book-container {
        vertical-align: center;
    }*/
}

@media only screen and (min-width: 992px) {
#added-by-display {
    float: left;
    }
    #book-info-display-page {
        text-align: left;
    }

}



@media only screen and (min-width: 1200px) {
    /* Title sizes increase to fill the space suitably on larger screens */
    #small-title {
        font-size: 60px;
    }
    #large-title {
        font-size: 100px;
        line-height: 100px;
    }
    #homepage-title h1 {
        margin-top: 70px;
    }
}

@media only screen and (min-width: 1700px) {
    /* Space book images more suitably on very large screens */
    .book-image {
    transform: translate(20px, 0);
    }
}