/* FONTS ------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@200;300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* SITE WIDE FEATURES ------------------------------- */

.author-year
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    scroll-behavior: smooth;
  }

  /* Facilitates sticky footer */
  main {
    flex: 1 0 auto;
    background-image: url('/static/images/background-pattern1.png');
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
    background-color: #fff;
  }

  h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    text-align: center;
    color: #bb98eb;
    margin-top: 0;
    padding-top: 40px;
}

p {
    font-family: "Lato", sans-serif;
}

.btn {
    background-color: #bb98eb;
}

.btn:hover {
    background-color: #cdb3f1;
}

.btn:focus {
    background-color: #cdb3f1;
}

.btn-large:hover {
    background-color: #cdb3f1;
}

.book-title {
    color: #bb98eb;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    text-align: center;
}

.container {
    margin-bottom: 0;
    padding-bottom: 40px;
}

/* NAVIGATION ------------------------------- */

nav {
    background-color: #bb98eb;
}

.brand-logo i {
    padding-left: 10px;
    font-size: 30px;
}

nav li a {
    font-family: "Lato", sans-serif;
    font-size: 20px;
}

/* HOMEPAGE ------------------------------- */

#homepage-title h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #bb98eb;
    text-align: center;
    line-height: 50px;
    padding-bottom: 20px;
}

#small-title {
    font-size: 40px;
    font-weight: 700;
}

#large-title {
    font-size: 70px;
    font-weight: 700;
}

#homepage-content {
    min-height: 200px;
}

#welcome-message {
    font-family: "Poppins", sans-serif;
    color: #fff;
    font-size: 30px;
    transform: translate(0, 85px);
    margin: 0;
}

#welcome-message-circle {
    width: 300px;
    height: 300px;
    border: 1px solid #bb98eb;
    border-radius: 50px;
    background-color: #bb98eb;
}

.search-bar {
    border: 2px solid #bb98eb;
    padding: 0 5px 0 5px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.search-bar-prompt {
    padding-left: 5px;
    font-family: "Lato", sans-serif;
    font-weight: bold;
}

.search {
    border-bottom: 0;
    margin: 0;
    font-family: "Lato", sans-serif;
}

.sign-up-circle {
    background-color: #bb98eb;
    display: inline-block;
    width: 160px;
    height: 160px;
    border-radius: 80px;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 25px;
}

.sign-up-circle p {
    transform: translate(0, 25px);
}

.sign-up-circle:hover {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

.sign-up-circle p:hover {
    transform: translate(0, 35px);
}

.login-circle {
    background-color: #bb98ebbd;
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 25px;
}

.login-circle p {
    transform: translate(0, 5px);
}

.login-circle:hover {
    width: 110px;
    height: 110px;
    border-radius: 55px;
}

.login-circle p:hover {
    transform: translate(0, 10px);
}

#featured-section {
    margin-bottom: 50px;
    background-color: rgb(233, 233, 233);
    box-shadow: rgb(189, 189, 189) 2px 5px 5px;
    border: transparent;
    border-radius: 50px;
    margin-top: 40px;
}

#top-picks-title {
    font-size: 50px;
    margin-bottom: 0;
    font-weight: 600;
}

.featured-book {
    max-width: 100%;
    padding-bottom: 20px;
}

#more-books-button {
    margin-top: 20px;
}

/* All Books ------------------------------- */

.book-image {
    max-width: 200px;
    max-height: 300px;
}

#book-page-search-bar {
    margin-bottom: 30px;
}

#add-book-button {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

#add-book-button i {
    transform: translate(0, 20px);
}

#all-books-page-display {
    margin-top: 50px;
    margin-right: 30px;
    display: inline;
}

#expand-book-btn {
    background-color: #bb98eb;
}

.card {
    background-color: #DAD9D9;
    padding-bottom: 20px;
    padding-top: 10px;
    box-shadow: grey 2px 5px 5px;
}

.card-image {
    padding-left: 25%;
    padding-right: 20%;
}

#book-title-all-books {
    font-size: 20px;
}

.author-year {
    font-family: "Lato";
    color: #bb98eb;
    font-size: 18px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.category {
    font-family: "Poppins", sans-serif;
    color: #bb98eb;
    font-size: 18px;
    font-weight: 600;
    margin-top: 0;
}

.hide-button {
    display: none;
}

/* Display Book ------------------------------- */

#back-to-books-button {
    margin-top: 15px;
}

.buy-button {
    background-color: #bb98eb;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: white;
    padding: 5px;
    border: 1px solid #bb98eb;
    border-radius: 6px;
}

#book-container {
    margin-bottom: 100px;
    margin-top: 30px;
}

#description {
  font-size: 18px;
}

#book-image {
    margin-top: 30px;
}

#added-by-display {
    font-weight: bold;
    margin-top: 0;
    font-size: 12px;
}

/* My Profile ------------------------------- */

.collapsible-header {
    font-family: "Poppins", sans-serif;
    background-color: #bb98eb;
    color: white;
    font-size: 25px;
    position: relative;
}

.collapsible-body {
    font-family: "Lato", sans-serif;
    color: #282828;
    margin-bottom: 0;
}

#book-actions {
    padding-top: 15px;
}

#edit-button {
    background-color: rgb(146, 215, 238);
    margin-top: 5px;
}

#delete-button {
    background-color: rgb(224, 105, 105);
    margin-top: 5px;
}

/* Sign Up ------------------------------- */

.login-signup-switch {
    margin-top: 40px;
}

.login-signup-switch:hover {
     background-color: #cdb3f1;
}

/* Login ------------------------------- */

.btn-large {
    background-color: #bb98eb;
    color: white;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    border-radius: 10px;
}

/* Logout ------------------------------- */

#logout-page {
    min-height: 70vh;
}

#logout-page-message {
    font-size: 30px;
    font-weight: 400;
    padding-top: 30px;
    color: #282828;
}

#logout-page-confirm {
    background-color: rgb(233, 233, 233);
    box-shadow: rgb(189, 189, 189) 5px 5px 5px;
    padding-bottom: 40px;
}

#back-to-profile-button {
    padding-top: 60px;
}



/* FOOTER ------------------------------- */

.page-footer {
    background-color: #bb98eb;
}

.footer-contents i {
    font-size: 30px;
}