/* FONTS ------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@200;300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* SITE WIDE FEATURES ------------------------------- */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  /* Facilitates sticky footer */
  main {
    flex: 1 0 auto;
  }

  h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    text-align: center;
    color: #bb98eb;
}

.btn {
    background-color: #bb98eb;
}

.btn:hover {
    background-color: #cdb3f1;
}

/* NAVIGATION ------------------------------- */

nav {
    background-color: #bb98eb;
}

.brand-logo i {
    padding-left: 10px;
    font-size: 30px;
}

nav li a {
    font-family: "Lato", sans-serif;
    font-size: 20px;
}

/* HOMEPAGE ------------------------------- */

#homepage-title h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #bb98eb;
    text-align: center;
    line-height: 50px;
    padding-bottom: 20px;
}

#small-title {
    font-size: 40px;
    font-weight: 700;
}

#large-title {
    font-size: 70px;
    font-weight: 700;
}

#homepage-content {
    min-height: 200px;
}

#welcome-message {
    font-family: "Poppins", sans-serif;
    color: #fff;
    font-size: 30px;
    transform: translate(0, 85px);
    margin: 0;
}

#welcome-message-circle {
    width: 300px;
    height: 300px;
    border: 1px solid #bb98eb;
    border-radius: 50px;
    background-color: #bb98eb;
}

.search-bar {
    border: 2px solid #bb98eb;
    padding: 0 5px 0 5px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.search-bar-prompt {
    padding-left: 5px;
    font-family: "Lato", sans-serif;
    font-weight: bold;
}

#search {
    border-bottom: 0;
    margin: 0;
    font-family: "Lato", sans-serif;
}

.sign-up-circle {
    background-color: #bb98eb;
    display: inline-block;
    width: 160px;
    height: 160px;
    border-radius: 80px;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 25px;
}

.sign-up-circle p {
    transform: translate(0, 25px);
}

.sign-up-circle:hover {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

.sign-up-circle p:hover {
    transform: translate(0, 35px);
}

.login-circle {
    background-color: #bb98ebbd;
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 25px;
}

.login-circle p {
    transform: translate(0, 5px);
}

.login-circle:hover {
    width: 110px;
    height: 110px;
    border-radius: 55px;
}

.login-circle p:hover {
    transform: translate(0, 10px);
}

#featured-section {
    margin-bottom: 50px;
}

#top-picks-title {
    font-family: "Poppins", sans-serif;
    color: #bb98eb;
    font-size: 50px;
    margin-bottom: 0;
}

.featured-book {
    max-width: 100%;
}

#more-books-button {
    margin-top: 20px;
}

/* All Books ------------------------------- */

.book-image {
    max-width: 200px;
    max-height: 300px;
}

#book-page-search-bar {
    margin-bottom: 30px;
}

#add-book-button {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

#add-book-button i {
    transform: translate(0, 20px);
}

/* Display Book ------------------------------- */

.buy-button {
    background-color: #bb98eb;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: white;
    padding: 5px;
    border: 1px solid #bb98eb;
    border-radius: 6px;
}

/* My Profile ------------------------------- */

.collapsible-header {
    font-family: "Poppins", sans-serif;
    background-color: #bb98eb;
    color: white;
    font-size: 25px;
}

.collapsible-body {
    font-family: "Lato", sans-serif;
    color: #282828;
    margin-bottom: 0;
}

.book-title {
    color: #bb98eb;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}

.author-year {
    font-family: "Lato";
    color: #bb98eb;
    font-size: 18px;
    text-align: center;
}

.category {
    font-family: "Poppins", sans-serif;
    color: #bb98eb;
    font-size: 18px;
    font-weight: 600;
}

/* Sign Up ------------------------------- */

.switch-to-login-or-signup {
    background-color: #bb98eb;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    text-align: center;
    font-family: "Lato", sans-serif;
    color: white;
    font-size: 18px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.switch-to-login-or-signup:hover {
    width: 160px;
    height: 160px;
    border-radius: 80px;
}

/* Login ------------------------------- */

.btn-large {
    background-color: #bb98eb;
    color: white;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    border-radius: 10px;
}

/* FOOTER ------------------------------- */

.page-footer {
    background-color: #bb98eb;
}

.footer-contents i {
    font-size: 30px;
}


