{% extends "base.html" %}
{% block content %}
    <h2>All Books</h2>

    <div class="row">
        <div class="col s12 l8 offset-l2" id="book-page-search-bar">
            <!---Search bar-->
            <p class="search-bar-prompt">Search By Keyword</p>
            <form class="search-bar" method="POST" action="{{ url_for('search_categories') }}">
                <div class="input-field">
                    <input id="search" name="search" type="text" placeholder="E.g. 'investing'" required>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col s12 ">
                <a href="{{ url_for('all_books') }}">Show all books</a>
            </div>
        </div>

    
    <div class="row">
        {% for book in all_books %}
        <div class="col s12 m6 l4 xl3 center">
            <a href="{{ url_for('display_book', book_id=book._id)}}">
                <img class="book-image" src="{{ book.image_url }}" alt="{{ book.title }}" >
            </a>
            <h3>
                <a class="book-title" href="{{ url_for('display_book', book_id=book._id)}}">{{ book.title }}</a>
            </h3>
            <p class="author-year">{{ book.author }} - {{ book.year }}</p>
            <p class="category">{{ book.category }}</p>
        </div>
        {% endfor %}
    </div>
    

{% endblock %}