{% extends "base.html" %}
{% block content %}

<!--Back to top button -->
<a id="back-to-top-button" class="d-none d-sm-block"><i class="fas fa-angle-up"></i></a>

<!--Page title-->
<h2>All Books</h2>

<!---Search bar-->
<div class="row">
    <div class="col s12 m6 offset-m3" id="book-page-search-bar">
        <p class="search-bar-prompt">Search By Keyword</p>
        <form class="search-bar" method="POST" action="{{ url_for('search_categories') }}">
            <div class="input-field">
                <input class="search" name="search" type="text" placeholder="E.g. 'investing'" required>
                <button class="btn btn-purple search-button right" type="submit"><i class="fas fa-search"
                        style="cursor: pointer;"></i></button>
            </div>
        </form>

        <!---Displays what keyword results are displayed for or advises the user that there are none-->
        <div class="col s12">
            <p id="search-results-message">{{ user_message }}</p>
        </div>
        <div class="col s12 center" style="{{ style }}">
            <a id="show-all-books-btn" class="btn btn-purple" href="{{ url_for('all_books') }}">Show all books</a>
        </div>
    </div>

    <!---Link to 'Add Book' page if a user is logged in-->
    <div class="col s12 m3 center">
        {% if session.user %}
        <p class="add-book-prompt">Add Book</p>
        <a class="btn-floating waves-effect waves-light tooltipped add-book-button btn-yellow" data-position="bottom"
            data-tooltip="Add a book recommendation" href="{{ url_for('add_book') }}">
            <i class="fas fa-plus"></i>
        </a>

        <!---Link to 'Login' page if no user is logged in-->
        {% else %}
        <p class="add-book-prompt">Add Book</p>
        <a class="btn-floating waves-effect waves-light tooltipped add-book-button btn-yellow" data-position="bottom"
            data-tooltip="Please sign in to add a book recommendation" href="{{ url_for('login') }}">
            <i class="fas fa-plus"></i>
        </a>
        {% endif %}
    </div>
</div>

<div id="all-books-page-display" class="row">

    <!---Loops over every book in db-->
    {% for book in all_books %}
    <div class="col s12 m6 l4 xl3 center">

        <!---Display cards-->
        <!--Help with display issues from https://stackoverflow.com/questions/38457266/materialize-alignment-issue-with-cards-->
        <div class="card large">
            <div class="card-image">

                <!---Displays book on individual page when image or ellipsis clicked-->
                <a href="{{ url_for('display_book', book_id=book._id) }}">
                    {% if book.image_url %}
                    <img class="book-image center" src="{{ book.image_url }}" alt="{{ book.title }}">
                    {% else %}
                    <img class="book-image center" src="./static/images/book-placeholder.png" style="box-shadow: none;"
                        alt="{{ book.title }}">
                    {% endif %}
                    <a id="expand-book-btn" class="btn-floating halfway-fab waves-effect waves-light"
                        href="{{ url_for('display_book', book_id=book._id) }}"><i class="fas fa-ellipsis-h"></i>
                    </a>
                </a>
            </div>

            <!---Displays book on individual page when title clicked-->
            <h3>
                <a id="book-title-all-books" class="book-title"
                    href="{{ url_for('display_book', book_id=book._id)}}">{{ book.title }}</a>
            </h3>
            <p id="book-author-all-books" class="author-year">{{ book.author }} - {{ book.year }}</p>
            <p id="book-category-all-books" class="category">{{ book.category }}</p>
            <p class="white-text"><small>Added by: {{ book.added_by }}</small></p>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}