{% extends "base.html" %}
{% block content %}
    <h2>{{ username}}'s Library</h2>

    <ul id="reading-list" class="collapsible">
        <li>
            <div class="collapsible-header">Title</div>
            <div class="collapsible-body row">
                <div class="col s6">description</div>
                <div class="col s6">Image</div>
            </div>
        </li>
        <li>
            <div class="collapsible-header">Title</div>
            <div class="collapsible-body row">
                <div class="col s6">description</div>
                <div class="col s6">Image</div>
            </div>
        </li>
        <li>
            <div class="collapsible-header">Title</div>
            <div class="collapsible-body row">
                <div class="col s6">description</div>
                <div class="col s6">Image</div>
            </div>
        </li>
    </ul>

{% endblock %}