{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12">
            <a href="{{ url_for('all_books') }}">Back to All Books</a>
        </div>
    </div>
    <div class="container">
    <!---Checks the selected_book main values have been retrieved from db-->
        {% if selected_book.title, selected_book.author %}
            <div class="row">
                <div class="col s12">
                    <h3 class="book-title">{{ selected_book.title }}</h3>
                    <h3 class="author-year">{{ selected_book.author}}</h3>
                </div>
            </div>
            <div id="book-container" class="row">
                <div class="col s12 l8">
                    <p id="description">{{ selected_book.description }}</p>
                    <div class="row">
                        <div class="col s12">
                            {% if selected_book.purchase_link %}
                                <a class="btn" href="{{ selected_book.purchase_link }}" target="_blank">Buy Now</a>
                            {% else %}
                                <p class="grey-text lighten-2">Not Available</p>
                            {% endif %}
                            <a class="btn"><i class="fas fa-heart"></i></a>
                            <a class="btn"><i class="fas fa-bookmark"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col s12 l4">
                    <img id="book-image" src="{{ selected_book.image_url }}">
                </div>
            </div>
        <!---If selected_book main values have not been retrieved then error message displays to user -->
        {% else %}
            <div class="row">
                <div class="col s12">
                    <h3>Sorry, we are having trouble displaying this book for you.</h3>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}