{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12">
            <a id="back-to-books-button" class="btn" href="{{ url_for('all_books') }}">Back to All Books</a>
        </div>
    </div>

    <div class="container">

    <!---Checks the selected_book values which are most important have been retrieved from db-->
        {% if selected_book.title, selected_book.author %}
            <div class="row">
                <div class="col s12">
                    <h3 class="book-title">{{ selected_book.title }}</h3>
                    <h3 class="author-year">{{ selected_book.author}}</h3>
                </div>
            </div>
            <div id="book-container" class="row">

                <!---Book description-->
                <div class="col s12 l8">
                    <p id="description">{{ selected_book.description }}</p>

                    <!---Display username of user who added book-->
                    <div class="row">
                        <div class="col 12">
                            <p id="added-by-display">Added by: {{ selected_book.added_by }}</p>
                        </div>
                    </div>

                    <!---Purchase link-->
                    <div class="row">
                        <div class="col s12">
                            {% if selected_book.purchase_link %}
                                <a class="btn" href="{{ selected_book.purchase_link }}" target="_blank">Buy Now</a>
                            {% else %}
                                <p class="grey-text lighten-2">Not Available</p>
                            {% endif %}
                            <button class="btn heart-button">
                                <i class="heart far fa-heart"></i>
                            </button>
                            <a class="btn bookmark" href="{{ url_for('bookmark', book_id=selected_book._id) }}">
                                <i class="far fa-bookmark"></i>
                            </a>
                            {% if selected_book.added_by == session['user'] %}
                            <a id="edit-button" class="btn" href="{{ url_for('edit_book', book_id=selected_book._id) }}">Edit</a>
                            <a id="delete-button" class="btn" href="{{ url_for('delete_book', book_id=selected_book._id) }}"
                                onclick="
                                                    return confirm('Are you sure you want to delete {{ selected_book.title }} from the database? This action will remove this book for all users and cannot be undone.');">Delete</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col s12 l4">
                    <img id="book-image" src="{{ selected_book.image_url }}">
                </div>
            </div>
        <!---If selected_book main values have not been retrieved then error message displays to user -->
        {% else %}
            <div class="row">
                <div class="col s12">
                    <h3>Sorry, we are having trouble displaying this book for you.</h3>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}