{% extends "base.html" %}
{% block content %}

<div id="homepage-title">
    <h1><span id="small-title">Personal Finance<br></span>
        <span id="large-title">Book Bunker</span>
    </h1>
</div>

<div id="homepage-content" class="container">
    <div class="row">
        <div class="col s12 xl8">
            <!---Search bar-->
            <p class="search-bar-prompt">Search By Keyword</p>
            <form class="search-bar" method="POST" action="{{ url_for('search_categories') }}">
                <div class="input-field">
                    <input id="search" name="search" type="text" placeholder="E.g. 'investing'" required>
                </div>
            </form>
        </div>
        <!---Displays greeting and username if a user is logged in-->
        {% if session.user %}
        <div id="welcome-message-circle" class="col s12 xl4">
                <h3 id="welcome-message">What topics do you want to discover today?</h3>
            </div>
        <!---Displays login/signup call to actions if no user is logged in-->
        {% else %}
        <div id="call-to-action-buttons" class="col s12 xl4">
            <a class="login-circle" href="{{ url_for('login') }}">
                <p class="white-text">Login</p>
            </a>
            <a class="sign-up-circle" href="{{ url_for('signup') }}">
                <p class="white-text" >Create An Account</p>
            </a>
        </div>
        {% endif %}
    </div>
</div>
<div id="featured-section" class="container">
    <div class="row">
        <div class="col s12 center">
            <p id="top-picks-title">Top Picks</p>
        </div>
    </div>
    <div class="row">
        <div class="col m4 l3">
            <img class="featured-book" src="static/images/the-power-of-now.webp" alt="image">
        </div>
        <div class="col m4 l3">
            <img class="featured-book" src="static/images/the-power-of-now.webp" alt="image">
        </div>
        <div class="col m4 l3">
            <img class="featured-book" src="static/images/the-power-of-now.webp" alt="image">
        </div>
        <div class="col m4 l3">
            <img class="featured-book" src="static/images/the-power-of-now.webp" alt="image">
        </div>
    </div>
    <div class="row">
        <div id="more-books-button" class="col s12 center">
            <a class="btn" href="{{ url_for('all_books') }}">See All Books</a>
        </div>
    </div>
</div>

{% endblock %}