{% extends "base.html" %}
{% block content %}

<div id="homepage-title">
    <h1><span id="small-title">Personal Finance<br></span>
        <span id="large-title">Book Bunker</span>
    </h1>
</div>

<div id="homepage-content" class="container">
    <div class="row">
        {% if session.user %}
        <div class="col s12 l8 offset-l2">
            <!---Search bar-->
            <p class="search-bar-prompt">Search By Keyword</p>
            <form class="search-bar" method="POST" action="{{ url_for('search_categories') }}" onsubmit="showAllBooksBtn()">
                <div class="input-field">
                    <input class="search" name="search" type="text" placeholder="E.g. 'investing'" required>
                </div>
            </form>
        </div>

        <!---Displays login/signup call to actions if no user is logged in-->
        {% else %}
        <div class="col s12 xl8">

            <!---Search bar-->
            <p class="search-bar-prompt">Search By Keyword</p>
            <form class="search-bar" method="POST" action="{{ url_for('search_categories') }}" onsubmit="showAllBooksBtn()">
                <div class="input-field">
                    <input class="search" name="search" type="text" placeholder="E.g. 'investing'" required>
                </div>
            </form>
        </div>

        <!---Call to actions-->
        <div id="call-to-action-buttons" class="col s12 xl4 center">
            <a class="login-circle btn" href="{{ url_for('login') }}">
                <span>Login</span>
            </a>
            <a class="sign-up-circle btn" href="{{ url_for('signup') }}">
                <span>Create An Account</span>
            </a>
        </div>
        {% endif %}
    </div>
</div>

<!---Top Picks (Featured books)-->
<div id="featured-section" class="container">
    <div class="row">
        <div class="col s12 center">
            <p id="top-picks-title" class="book-title">Top Picks</p>
        </div>
    </div>

    <!---Featured books images-->
    <div class="row">
        <div id="featured-book-1" class="col s12 m4 l3 center">
            <a href="{{ url_for('display_book', book_id='6047903b0763f0e15caff5f6') }}">
                <img class="featured-book" src="static/images/squeezing-the-orange.jpg" alt="image">
            </a>
        </div>
        <div id="featured-book-2" class="col s12 m4 l3 center">
            <a href="{{ url_for('display_book', book_id='603e1a96c8797ba05ea7f516') }}">
                <img class="featured-book" src="static/images/open-up.jpg" alt="image">
            </a>
            </div>
        <div id="featured-book-3" class="col s12 m4 l3 center">
            <a href="{{ url_for('display_book', book_id='6034fd242bedc68423a3c5d0') }}">
                <img class="featured-book" src="static/images/the-psychology-of-money.jpg" alt="image">
            </a>
        </div>
        <div id="featured-book-4" class="col s12 m4 l3 center">
            <a href="{{ url_for('display_book', book_id='60478fe50763f0e15caff5f5') }}">
                <img class="featured-book" src="static/images/the-power-of-now.jpg" alt="image">
            </a>
        </div>
    </div>
    <div class="row">
        <div id="more-books-button" class="col s12 center">
            <a id="all-books-btn-home" class="btn-large btn-yellow" href="{{ url_for('all_books') }}">See All Books</a>
        </div>
    </div>
</div>

{% endblock %}