{% extends "base.html" %}
{% block content %}

<div id="homepage-title">
    <h1><span id="small-title">Personal Finance<br></span>
        <span id="large-title">Book Bunker</span>
    </h1>
</div>

<div id="homepage-content" class="container">
    <div class="row">
        {% if session.user %}
        <div class="col s12">
            <!---Search bar-->
            <p class="search-bar-prompt">Search By Keyword</p>
            <form class="search-bar" method="POST" action="{{ url_for('search_categories') }}" onsubmit="showAllBooksBtn()">
                <div class="input-field">
                    <input class="search" name="search" type="text" placeholder="E.g. 'investing'" required>
                </div>
            </form>
        </div>

        <!---Displays login/signup call to actions if no user is logged in-->
        {% else %}
        <div class="col s12 xl8">

            <!---Search bar-->
            <p class="search-bar-prompt">Search By Keyword</p>
            <form class="search-bar" method="POST" action="{{ url_for('search_categories') }}" onsubmit="showAllBooksBtn()">
                <div class="input-field">
                    <input class="search" name="search" type="text" placeholder="E.g. 'investing'" required>
                </div>
            </form>
        </div>
        <div id="call-to-action-buttons" class="col s12 xl4">
            <a class="login-circle" href="{{ url_for('login') }}">
                <p class="white-text">Login</p>
            </a>
            <a class="sign-up-circle" href="{{ url_for('signup') }}">
                <p class="white-text" >Create An Account</p>
            </a>
        </div>
        {% endif %}
    </div>
</div>
<div id="featured-section" class="container">
    <div class="row">
        <div class="col s12 center">
            <p id="top-picks-title" class="book-title">Top Picks</p>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m4 l3 center">
            <a href="{{ url_for('display_book', book_id='#') }}">
                <img class="featured-book" src="static/images/squeezing-the-orange.jpg" alt="image">
            </a>
        </div>
        <div class="col s12 m4 l3 center">
            <a href="{{ url_for('display_book', book_id='603e1a96c8797ba05ea7f516') }}">
                <img class="featured-book" src="static/images/open-up.jpg" alt="image">
            </a>
            </div>
        <div class="col s12 m4 l3 center">
            <a href="{{ url_for('display_book', book_id='6034fd242bedc68423a3c5d0') }}">
                <img class="featured-book" src="static/images/the-psychology-of-money.jpg" alt="image">
            </a>
        </div>
        <div class="col s12 m4 l3 center">
            <a href="{{ url_for('display_book', book_id='#') }}">
                <img class="featured-book" src="static/images/the-power-of-now.webp" alt="image">
            </a>
        </div>
    </div>
    <div class="row">
        <div id="more-books-button" class="col s12 center">
            <a id="all-books-btn-home" class="btn-large" href="{{ url_for('all_books') }}">See All Books</a>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

{% endblock %}