{% extends "base.html" %}
{% block content %}

<div id="logout-page" class="container">
    <h2>Logout</h2>
    <div class="row">
        <div class="col s12 m8 offset-m2 center" id="logout-page-confirm">

            <!---Display which username is currently logged in-->
            <p id="logout-page-message">You are logged in as: <em>{{ session["user"] }}</em></p>

            <!---Log out button-->
            <a class="waves-effect waves-light btn-large btn-yellow" href = "{{ url_for('confirm_logout') }}">Log Out</a>
        </div>
    </div>
    <div class="row">
        <div id="back-to-profile-button" class="col s12 m8 offset-m2 center">
            <a class="btn-large btn-purple" href="{{ url_for('dashboard', username=session['user']) }}">Return to my profile</a>
        </div>
    </div>
</div>

{% endblock %}