{% extends "base.html" %}
{% block content %}

<div class="row container">
    <div class="row">

        <!---Title-->
        <div class="col s12 m4 offset-m4">
            <h2>Sign Up</h2>
        </div>

        <!---Switch to login page-->
        <div class="col s12 m1 offset-m1 center">
            <a class="btn-floating btn-large pulse login-signup-switch tooltipped btn-purple" data-position="bottom"
                data-tooltip="Have An Account?" href="{{ url_for('login') }}"><i class="fas fa-user-check"></i></a>
            <p class="signup-login-hint">Login</p>
        </div>
    </div>

    <!---Signup form-->
    <div class="row">
        <form class="col s10 offset-s1 m8 offset-m2" method="POST" action="{{ url_for('signup') }}">
            <div class="row">

                <!---Username-->
                <div class="input-field col s12">
                    <input id="username" name="username" type="text" minlength="5" maxlength="15"
                        pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                    <label for="username">Username *</label>
                </div>

                <!---Password-->
                <div class="input-field col s12">
                    <input id="password" name="password" type="password" minlength="6" maxlength="15"
                        pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                    <label for="password">Password *</label>
                </div>
            </div>

            <!---Email-->
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" name="email" type="email" class="validate" required>
                    <label for="email">Email *</label>
                </div>
            </div>

            <!---Signup button-->
            <div class="row">
                <div class="col s12 center">
                    <button type="submit" class="waves-effect waves-light btn-yellow btn btn-large">Sign Up</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}